header {
    background-color: #2A2D32;
    outline: solid;
}

header * {
    display: inline-block;
    vertical-align: middle;
}

.search-input {
    display: inline-block;
    width: 200px;
    margin-bottom: 0;
    margin-left: 40px;
}

.search-button {
    display: inline-block;
}

.header-right {
    float: right;
    margin-top: 29px;
    margin-right: 20px;
}